//====================  Nextflow/Container Config  ==========

manifest {
    name = "calm"
    description = 'Pipeline for processing of CALM data.'
    author = 'Georgia Doing based on scritps from W. Jiang et al 2020'
    version = "0.1.0"
}

// Default to, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below
params {

    //Shared params
    gen_org='staph' // other
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
    read_prep = 'stranded'//'non_stranded' 
    //ref_fa='/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'

    // Trimmomatic params
    t_lead = 3
    t_trail = 3
    min_len = 36
    t_window = 4:20


    //Quality Stats params
    min_pct_hq_reads='0.0'

    //RSEM params
    //seed_length = '25'
    //rsem_ref_prefix = 'Mus_musculus.GRCm38.dna.toplevel'
    //rsem_ref_files = '/projects/omics_share/mouse/GRCm38/transcriptome/indices/ensembl/v102/bowtie2'
    //rsem_aligner = 'bowtie2'

    //Picard params
    //picard_dict='/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.dict'

    //ref_flat='/projects/omics_share/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr_patch_hapl_scaff.refFlat.txt'
    //ribo_intervals='/projects/omics_share/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr_patch_hapl_scaff.rRNA.interval_list'
}

// Put other deafults below ..
